$def with (data)
<html>
	<head>
		<title>Costi - Collection of Open Source Threat Intelligence</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/assets/css/style.css" />
	</head>
	<body>
            <section>
                <header>
                    <center>
                        <a href="/"><img src="/static/assets/img/logo.png" /></a>
                    </center>
                </header>
                <form method="post" class="searchbar">
                    $:data
                </form>
            </section>
	</body>
</html>